@import "tailwindcss";

@theme {
  --keyframes-marquee: {
    0% { transform: translateX(0%) }
    100% { transform: translateX(-50%) } /* half because we duplicated items */
  };

  --animate-marquee: marquee 25s linear infinite;
}

@plugin "daisyui" {
  themes: black --default;
}
